.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.row {
    padding: 0px 0px 0px 0px;
}

.col-sm-4 {
    padding: 0px 0px 0px 0px;
}

#name {
  color: #086A87;
  text-align: right;
}
