.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.row {
    padding: 0px 0px 0px 0px;
}

.col-sm-4 {
    padding: 0px 0px 0px 0px;
}

#name {
    text-align: right;
    color: #086a87;
    size: 40px;
    color: #bcbbbb;
}

#curve_space {
    padding-bottom: 15px;
}

#work {
    padding: 5px;
    color: #bcbbbb;
}

#project_desc {
    color: #bcbbbb;
    text-align: center;
}

#project_title {
    color: #747704;
    text-align: center;
}

#logo {
    align: left;
    margin: 15px;
}

hr {
    border-width: 3px;
    color: #747704;
}